body,
* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}
button {
  background: transparent;
  border: none;
  outline: none;
}
.multi-range-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 20px;
}
.multi-range {
  width: 100%;
  font-weight: 300;
  font-size: 18px;
  line-height: 200%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 35px;
}

.line-block {
  border-top: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
}
.slider-text {
  display: flex;
  justify-content: space-between;
  padding-top: 35px;
}
.s-slider {
  font-weight: 600;
  font-size: 18px;
  line-height: 122%;
}

.from-to {
  font-weight: 600;
  font-size: 18px;
  line-height: 122%;
}
.radio {
  cursor: pointer;
}

.radio-text {
  margin-left: 10px;
}

.statistic {
  margin-top: 25px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
  border-radius: 8px;
  width: 50%;
  max-width: calc(50% - 15px);
  display: flex;
  padding-bottom: 20px;
  padding-right: 30px;
  background-color: #ffffff;
}
.statistic-block {
  padding-top: 34px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 2px;
  width: 100%;
}
.statistic-h {
  font-weight: 600;
  font-size: 24px;
  line-height: 121%;
}
.statistic-span {
  font-weight: 500;
  font-size: 14px;
  line-height: 121%;
  display: flex;
  padding-top: 3px;
}
.statistic-pz-green {
  color: #2dcd7a;
  font-size: 14px;
  line-height: 121%;
  margin-top: 12px;
  display: flex;
}
.statistic-pz {
  font-size: 14px;
  line-height: 121%;

  color: black;
  margin-left: 3px;
}
.view-details {
  width: 100%;
  max-width: 340px;
  height: 36px;
  background: #7467f0;
  border-radius: 4px;
  display: flex;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
}

.radio-change {
  cursor: pointer;
}

.view-details-text {
  font-size: 16px;
  line-height: 119%;
  color: #fff;
  margin: 7px;
  display: flex;
}
.border-line-block {
  height: 1px;
  width: 100%;
  background-color: #cbcbcb;
  margin-top: 20px;
}
.scale {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 28px;
}
.statistic-text {
  font-size: 16px;
  line-height: 119%;
  margin-top: 11px;
}

.scale-statistic {
  width: 100%;
  height: 4px;
  max-width: 340px;
  background-color: #f2f0fd;
  border-radius: 2.5px;
}
.scale-statistic-color {
  width: 50%;
  height: 4px;
  background-color: #7467f0;
  border-radius: 2.5px;
  margin-top: 5px;
}
.scale-statistic-color-red {
  width: 50%;
  height: 4px;
  background-color: #ea5455;
  border-radius: 2.5px;
  margin-top: 5px;
}
.scale-statistic-color-orange {
  width: 50%;
  height: 4px;
  background-color: #ff9f43;
  border-radius: 2.5px;
  margin-top: 5px;
}
.scale-statistic-color-green {
  width: 50%;
  height: 4px;
  background-color: #28c76f;
  border-radius: 2.5px;
  margin-top: 5px;
}
.statistic-list-button {
  display: flex;
  justify-content: space-between;
  padding-top: 22px;
  padding-right: 30px;
  width: 98.6px;
  height: 20px;
  white-space: nowrap;
}
.statistic-down-image {
  width: 15px;
  height: 10px;
  margin-top: 5px;
  padding-left: 5px;
}
.statistic-list {
  font-size: 14px;
  line-height: 121%;
  display: flex;
  flex-direction: column;
}

.button-block {
  cursor: pointer;
  width: 100%;
  height: 56px;
  max-width: 370px;
  background-color: #6f64f8;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-block-text {
  font-size: 18px;
  line-height: 117%;
  color: #fff;
  white-space: nowrap;
}

button {
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
}

.card-padding {
  padding: 16px;
}
.card-rating {
  background: #6f64f8;
  border-radius: 3px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.card {
  max-width: 371px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #fff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.0778245);
  border-radius: 8px;
}
.card-top {
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}
.card-price {
  font-size: 18px;
  line-height: 21px;
  color: #2c2c2c;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-title {
  font-size: 16px;
  line-height: 19px;
  height: 19px;
  font-weight: 500;
}

.card-description {
  margin-top: 3px;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: #2c2c2c;
}
.card-button {
  background-color: #6f64f8;
  color: #fff;
  border: 0px solid transparent;
  padding: 12px 0;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  border-radius: 0px 0px 8px 8px;
}

.nav-container {
  height: 100vh;
  width: 280px;
  background: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.17);
  padding: 20px;
  position: fixed;
}

.nav-container-link {
  display: flex;
  align-items: center;
  padding: 9px 35px;
  font-size: 15px;
  color: #2c2c2c;
  transition: background-color 0.7s;
  border-radius: 4px;
  text-decoration: none;
  position: relative;
  height: 36px;
  margin-bottom: 5px;
}
.nav-container-link:last-of-type {
  margin-bottom: 0px;
}

.nav-container {
  display: flex;
  flex-direction: column;
}
.nav-container-link:hover {
  background-color: #ececec;
}
.nav-container-link-home {
  background: linear-gradient(188.54deg, #9e94ff 0%, #7e72f2 99.2%);
  box-shadow: -1px 1px 8px rgba(126, 114, 242, 0.578726);
  color: #fff;
}

.icon-home {
  position: absolute;
  background-image: url("../images/svg/home.svg");
  background-size: cover;
  height: 16px;
  width: 14px;
  top: 8px;
  left: 12px;
}

.icon-circle {
  position: absolute;
  background-image: url("../images/svg/circle.svg");
  background-size: cover;
  height: 10px;
  width: 10px;
  top: 11px;
  left: 13px;
}
.icon-oval {
  position: absolute;
  background-image: url("../images/svg/circle.svg");
  background-size: cover;
  height: 10px;
  width: 10px;
  top: 11px;
  left: 13px;
}

.filter-buttons {
  display: flex;
  margin-bottom: 20px;
  margin-left: auto;
}

.filter-button {
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
  border-radius: 8px;
  cursor: pointer;
}
.button1 {
  font-size: 14px;
  line-height: 17px;
  margin-right: 13px;
  padding: 0 20px;
  height: 40px;
  cursor: pointer;
}
.icon-square {
  margin-right: 13px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.button2 {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.messengers-container {
  display: flex;
  flex-direction: column;
}
.messengers-container-item {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.apps {
  margin-bottom: 15px;
  margin-top: 10px;
  color: #999999;
}
.icon-mail {
  margin-right: 10px;
}
.icon-chat {
  margin-right: 10px;
}
.icon-calendar {
  margin-right: 10px;
}
.apps-container-item {
  padding: 9px 9px;
}

.timeline-container {
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 18px 24px;
  max-width: calc(50% - 15px);
  width: 100%;
  margin-left: auto;
  margin-top: 25px;
}
.timeline-container-item {
  display: flex;
  margin-bottom: 33px;
  align-items: center;
}
.timeline-container-item:last-of-type {
  margin-bottom: 0;
}
.timeline-container-info {
  display: flex;
  flex-direction: column;
}
.timeline-container-heading {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #161616;
  margin-bottom: 19px;
}
.timeline-container-main-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #606060;
  display: flex;
  margin-bottom: 1px;
}
.timeline-container-title {
  font-size: 12px;
  line-height: 14px;
  color: #606060;
  margin-bottom: 4px;
}
.timeline-container-subtitle {
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: #606060;
}
.timeline-container-icon {
  min-width: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 12px;
}
.purple {
  background: #7e72f2;
}
.orange {
  background: #ff9f43;
}
.green {
  background: #28c76f;
}
.red {
  background: #ea5455;
}
.brand {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #d6d6d6;
  padding-bottom: 25px;
  margin-bottom: 25px;
}
.brand:last-of-type {
  margin-bottom: 0;
  border-bottom: none;
  padding-bottom: 0;
}

.brand-title {
  font-weight: 600;
  font-size: 18px;
  color: #2c2c2c;
  margin-bottom: 26px;
}

.brand-title-category {
  font-weight: 600;
  font-size: 18px;
  color: #2c2c2c;
  margin-bottom: 26px;
  margin-top: 33.5px;
}
.cb-model {
  cursor: pointer;
}

.cb-line {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.cb-quantity {
  font-weight: 300;
  font-size: 14px;
  color: #2c2c2c;
}

.cb-name {
  font-weight: 300;
  font-size: 16px;
  color: #2c2c2c;
  margin-left: 6px;
  cursor: pointer;
}
.cb-content {
  display: flex;
  align-items: center;
}

.checkbox-all {
  display: grid;
  grid-gap: 8px;
}

.search {
  display: flex;
  background: #ffffff;
  width: 100%;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  margin-bottom: 30px;
}

.search-input {
  padding: 10px 20px;
  width: 100%;
  padding-right: 50px;
}

.search-button {
  width: 18px;
  height: 18px;
  position: absolute;
  top: calc(50% - 9px);
  right: 20px;
  background-image: url("../images/svg/search.svg");
  background-size: cover;
  cursor: pointer;
}

.search button {
  height: 42px;
  width: 42px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.first-line-blocks {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.similar-blocks {
  display: flex;
  width: calc(50% - 15px);
}

.congratulations {
  width: calc(50% - 15px);
  padding: 50px 0;
  margin-right: 30px;
  background-image: url(./png/decore-left.2d9d23e0.png),
    url(./png/decore-right.da0ab5cd.png),
    linear-gradient(201.26deg, #a59bff 0%, #7e72f2 100%);
  background-repeat: no-repeat;
  background-position: left top, right top;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
  border-radius: 8px;
}

.cong-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.cong-title {
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  color: #ffffff;
  margin-bottom: 15px;
  padding: 0 15px;
}

.cong-done {
  padding: 0 15px;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  text-align: center;
}

.chart {
  background-color: #fff;
  background-size: 100%;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.13);
  border-radius: 8px;
  width: calc(50% - 15px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.chart:first-of-type {
  margin-right: 30px;
}

.chart-img-top {
  margin: 25px 275px 0 32px;
}

.chart-balance {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #2c2c2c;
  margin-left: 32px;
  margin-top: 21px;
}

.chart-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 36px;
  color: #2c2c2c;
  margin-left: 32px;
}

.chart-img-bottom {
  margin-top: 15px;
  margin-top: auto;
  width: 100%;
}

.sidebar {
  display: flex;
  min-width: 350px;
  flex-direction: column;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.13);
  border-radius: 8px;
  padding: 25px;
  margin-bottom: 30px;
  background-color: #ffffff;
}

.main-container {
  display: flex;
  min-height: 100vh;
}
.main-content {
  background-color: #f9f9f9;
  padding: 22px 42px 35px;

  margin-left: 280px;
  width: calc(100% - 280px);
  display: flex;
  flex-wrap: wrap;
}
.second-block {
  display: flex;
  flex-direction: column;
}
.shop-container {
  display: flex;
  width: 100%;
}
.shop-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 30px;
}

.top {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 22px;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
  border-radius: 8px;
  width: 100%;
  margin-bottom: 25px;
}

.header-action-bar {
  display: flex;
  align-items: center;
}

.header-icons {
  margin: 22px 0;
}

.header-icons-img {
  margin-right: 22px;
  cursor: pointer;
}

.header-icons-img:last-of-type {
  margin-right: 0;
}

.header-action-bar {
  margin: 16px 0;
}

.header-action-bar-title {
  margin-right: 29px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #2c2c2c;
  cursor: pointer;
}

.header-action-bar-img {
  margin-right: 22px;
  cursor: pointer;
}

.header-action-bar-img:last-of-type {
  margin-right: 28px;
}

.header-action-bar-nick {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 11px;
}

.header-action-bar-nick-top {
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  color: #2c2c2c;
}

.header-action-bar-nick-bottom {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #2c2c2c;
}

.header-action-bar-avatar {
  height: 34px;
  width: 34px;
  border-radius: 50%;
  background-color: #ea5455;
  display: flex;
  align-items: flex-start;
  cursor: pointer;
}

.settings-block {
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}
.card-actions-block {
  line-height: 29px;
  font-size: 24px;
  color: #2c2c2c;
  margin-right: 19px;
  padding-right: 16px;
  border-right: 1px solid #979797;
}

.card-action-home {
  border: 0;
}

.icon-chevrons-right {
  margin-right: 10px;
  margin-left: 10px;
}
.icon-ecommerce {
  font-size: 14px;
  line-height: 17px;
  color: #7467f0;
  cursor: pointer;
}
.icon-electronics {
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  color: #2c2c2c;
  margin-right: 50px;
  cursor: pointer;
}
.icon-settings {
  background: #7e72f2;
}
.timeline-statistic {
  display: flex;
}

.hoverable {
  transition: opacity 0.3s;
}
.hoverable:hover {
  opacity: 0.8;
}
