body,
* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}
button {
  background: transparent;
  border: none;
  outline: none;
}
.multi-range-text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 20px;
}
.multi-range {
  width: 100%;
  font-weight: 300;
  font-size: 18px;
  line-height: 200%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 35px;
}

.js-range-slider {
  background: #6f64f8;
  border-radius: 3px;
}
.irs {
  margin-bottom: 13px !important;
}
.irs-line {
  max-width: 340px !important;
  width: 100% !important;
}
.line-block {
  border-top: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
}
.checbox-br {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 200%;
}
.slider-text {
  display: flex;
  justify-content: space-between;
  padding-top: 35px;
}
.s-slider {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 122%;
}
.irs--round {
  margin-bottom: 20px !important;
}
.from-to {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 122%;
}
#radio {
  margin-right: 10px;
  cursor: pointer;
}
input:checked {
  background: #6f64f8;
}

.statistic {
  position: relative;
  margin-top: 22px;
  margin-left: 35px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
  border-radius: 8px;
  max-width: 770px;
  width: 100%;
  display: flex;
  padding-bottom: 20px;
}
.statistic-block {
  padding-top: 34px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 2px;
  width: 100%;
}
.statistic-h {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 121%;
}
.statistic-span {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 121%;
  display: flex;
  padding-top: 3px;
}
.statistic-pz-green {
  font-family: "Montserrat", sans-serif;
  color: #2dcd7a;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 121%;
  margin-top: 12px;
  display: flex;
}
.statistic-pz {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 121%;
  display: flex;
  color: black;
  margin-left: 3px;
}
.View-details {
  width: 100%;
  max-width: 340px;
  height: 36px;
  background: #7467f0;
  border-radius: 4px;
  display: flex;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
  transition: opacity 0.7s;
}
.View-details:hover {
  opacity: 0.7;
}
.radio-change {
  cursor: pointer;
  transition: opacity 0.7s;
}
.radio-change:hover {
  opacity: 0.7;
}
.View-details-text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 119%;
  color: #fff;
  margin: 7px;
  display: flex;
}
.border-line-block {
  height: 1px;
  width: 100%;
  background-color: #cbcbcb;
  margin-top: 20px;
}
.scale {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 28px;
}
.Goal-text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 119%;
  margin-top: 11px;
}
.Retention-text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 119%;
  margin-top: 11px;
}
.Users-text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 119%;
  margin-top: 11px;
}
.Duration-text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 119%;
  margin-top: 11px;
}
.scale-statistic {
  width: 100%;
  height: 4px;
  max-width: 340px;
  background-color: #f2f0fd;
  border-radius: 2.5px;
}
.scale-statistic-color {
  width: 50%;
  height: 4px;
  background-color: #7467f0;
  border-radius: 2.5px;
  margin-top: 5px;
}
.scale-statistic-color-red {
  width: 50%;
  height: 4px;
  background-color: #ea5455;
  border-radius: 2.5px;
  margin-top: 5px;
}
.scale-statistic-color-orange {
  width: 50%;
  height: 4px;
  background-color: #ff9f43;
  border-radius: 2.5px;
  margin-top: 5px;
}
.scale-statistic-color-green {
  width: 50%;
  height: 4px;
  background-color: #28c76f;
  border-radius: 2.5px;
  margin-top: 5px;
}
.list-button {
  display: flex;
  justify-content: space-between;

  padding-top: 22px;
  padding-right: 30px;
  white-space: nowrap;
}
.down {
  width: 15px;
  height: 10px;
  margin-top: 5px;
  padding-left: 5px;
}
.list {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 121%;
  display: flex;
  flex-direction: column;
}

.button-block {
  transition: opacity 0.7s;
  cursor: pointer;
  width: 100%;
  max-width: 370px;
  background-color: #6f64f8;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
  border-radius: 8px;
  padding: 17px 98px 18px 98px;
}
.button-block:hover {
  opacity: 0.8;
}
.button-block-text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 117%;
  color: #fff;
  white-space: nowrap;
}
.irs-bar {
  background-color: #6f64f8 !important;
  border-radius: 3px;
  width: 100%;
  width: 340px;
}
.irs-handle {
  background-color: #6f64f8 !important;
  width: 20px !important;
  height: 20px !important;
  border: none !important;
}
button {
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
}

.card-padding {
  padding: 16px;
}
.card-rating {
  background: #6f64f8;
  border-radius: 3px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  max-width: 371px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #fff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.0778245);
  border-radius: 8px;
}
.card-top {
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}
.card-price {
  font-size: 18px;
  line-height: 21px;
  color: #2c2c2c;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-title {
  font-size: 16px;
  line-height: 19px;
  height: 19px;
  font-weight: 500;
}

.card-description {
  margin-top: 3px;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: #2c2c2c;
}
.card-button {
  background-color: #6f64f8;
  color: #fff;
  border: 0px solid transparent;
  padding: 12px 0;
  transition: opacity 0.7s;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  border-radius: 0px 0px 8px 8px;
}
.card-button:hover {
  opacity: 0.7;
}
.nav-container {
  height: 100vh;
  width: 280px;
  background: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.17);
  padding: 20px;
  position: fixed;
}

.nav-container-link {
  display: flex;
  align-items: center;
  padding: 9px 35px;
  font-size: 15px;
  color: #2c2c2c;
  transition: background-color 0.7s;
  border-radius: 4px;
  text-decoration: none;
  position: relative;
  height: 36px;
  margin-bottom: 5px;
}
.nav-container-link:last-of-type {
  margin-bottom: 0px;
}

.nav-container {
  display: flex;
  flex-direction: column;
}
.nav-container-link:hover {
  background-color: #ececec;
}
.nav-container-link-home {
  background: linear-gradient(188.54deg, #9e94ff 0%, #7e72f2 99.2%);
  box-shadow: -1px 1px 8px rgba(126, 114, 242, 0.578726);
  color: #fff;
}
.nav-container-link-active {
}

.icon-home {
  position: absolute;
  background-image: url("./images/home.svg");
  background-size: cover;
  height: 16px;
  width: 14px;
  top: 8px;
  left: 12px;
}

.icon-circle {
  position: absolute;
  background-image: url("./images/circle.svg");
  background-size: cover;
  height: 10px;
  width: 10px;
  top: 11px;
  left: 13px;
}
.icon-oval {
  position: absolute;
  background-image: url("./images/oval.svg");
  background-size: cover;
  height: 10px;
  width: 10px;
  top: 11px;
  left: 13px;
}

.filter-buttons {
  display: flex;
  margin-bottom: 20px;
  margin-left: auto;
}
.filter-button {
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
  border-radius: 8px;
  cursor: pointer;
}
.button1 {
  font-size: 14px;
  line-height: 17px;
  margin-right: 13px;
  padding: 0 20px;
  height: 40px;
}
.icon-square {
  margin-right: 13px;
  width: 40px;
  height: 40px;
}
.button2 {
  width: 40px;
  height: 40px;
}
.messengers-container {
  display: flex;
  flex-direction: column;
}
.messengers-container-item {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.apps {
  margin-bottom: 15px;
  margin-top: 10px;
  color: #999999;
}
.icon-mail {
  margin-right: 10px;
}
.icon-chat {
  margin-right: 10px;
}
.icon-calendar {
  margin-right: 10px;
}
.apps-container-item {
  padding: 9px 9px;
}

.timeline-container {
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 18px 24px;
  max-width: calc(50% - 15px);
  width: 100%;
  margin-left: auto;
}
.timeline-container-item {
  display: flex;
  margin-bottom: 33px;
  align-items: center;
}
.timeline-container-item:last-of-type {
  margin-bottom: 0;
}
.timeline-container-info {
  display: flex;
  flex-direction: column;
}
.timeline-container-heading {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #161616;
  margin-bottom: 19px;
}
.timeline-container-main-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #606060;
  display: flex;
  margin-bottom: 1px;
}
.timeline-container-title {
  font-size: 12px;
  line-height: 14px;
  color: #606060;
  margin-bottom: 4px;
}
.timeline-container-subtitle {
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: #606060;
}
.timeline-container-icon {
  min-width: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 12px;
}
.purple {
  background: #7e72f2;
}
.orange {
  background: #ff9f43;
}
.green {
  background: #28c76f;
}
.red {
  background: #ea5455;
}
.brand {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #d6d6d6;
  padding-bottom: 25px;
  margin-bottom: 25px;
}

.brand:last-of-type {
  margin-bottom: 0px;
}

.brand-title {
  font-weight: 600;
  font-size: 18px;
  color: #2c2c2c;
  margin-bottom: 26px;
  margin-top: 33.5px;
}

.cb-model {
  cursor: pointer;
}

.cb-line {
  display: flex;
  justify-content: space-between;
  transition: opacity 0.7s;
  cursor: pointer;
}

.cb-line:hover {
  opacity: 0.7;
}

.cb-quantity {
  font-weight: 300;
  font-size: 14px;
  color: #2c2c2c;
}

.cb-name {
  font-weight: 300;
  font-size: 16px;
  color: #2c2c2c;
  margin-left: 6px;
  cursor: pointer;
}
.cb-content {
  display: flex;
  align-items: center;
}

.checkbox-all {
  display: grid;
  grid-gap: 8px;
}

.line-top {
  height: 1px;
  background-color: #d6d6d6;
  margin-bottom: 25px;
}

.line-bottom {
  height: 1px;
  background-color: #d6d6d6;
  margin-top: 25px;
}

.search {
  display: flex;
  background: #ffffff;
  width: 100%;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  margin-bottom: 30px;
}

.search-input {
  padding: 10px 20px;
  width: 100%;
  padding-right: 50px;
}

.search-button {
  width: 18px;
  height: 18px;
  position: absolute;
  top: calc(50% - 9px);
  right: 20px;
  background-image: url("./svg/search.svg");
  background-size: cover;
  cursor: pointer;
  transition: opacity 0.7s;
}

.search-button:hover {
  opacity: 0.7;
}

.search button {
  height: 42px;
  width: 42px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.first-line-blocks {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.similar-blocks {
  display: flex;
  width: calc(50% - 15px);
}

.congratulations {
  width: calc(50% - 15px);
  padding: 50px 0;
  margin-right: 30px;
  background-image: url(./png/decore-left.2d9d23e0.png),
    url(./png/decore-right.da0ab5cd.png),
    linear-gradient(201.26deg, #a59bff 0%, #7e72f2 100%);
  background-repeat: no-repeat;
  background-position: left top, right top;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
  border-radius: 8px;
}

.cong-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.cong-title {
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  color: #ffffff;
  margin-bottom: 15px;
}

.cong-done {
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}

.statistics {
  background-color: #fff;
  background-size: 100%;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.13);
  border-radius: 8px;
  width: calc(50% - 15px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.statistics:first-of-type {
  margin-right: 30px;
}

.statistics-img-top {
  margin: 25px 275px 0 32px;
}

.statistics-balance {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #2c2c2c;
  margin-left: 32px;
  margin-top: 21px;
}

.statistics-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 36px;
  color: #2c2c2c;
  margin-left: 32px;
}

.statistics-img-bottom {
  margin-top: 15px;
  margin-top: auto;
  width: 100%;
}

@media all and (max-width: 1450px) {
  .first-line-blocks {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  .congratulations {
    width: 100%;
  }

  .statistics {
    width: 50%;
  }

  .similar-blocks {
    margin: 30px 0;
    width: 100%;
  }

  .statistics-img-bottom {
    margin-top: auto;
    width: 100%;
  }
}

@media all and (max-width: 800px) {
  .similar-blocks {
    display: flex;
    flex-direction: column;
  }

  .statistics {
    width: 100%;
    margin-bottom: 30px;
  }

  .statistics:first-of-type {
    margin-right: 0;
  }

  .congratulations {
    width: 100%;
    background-image: linear-gradient(201.26deg, #a59bff 0%, #7e72f2 100%);
    margin-right: 0;
  }

  .cong-done {
    padding: 0 30px;
    text-align: center;
  }

  .first-line-blocks {
    margin-right: 30px;
  }

  .cong-title {
    text-align: center;
  }
  .cong-title {
    margin: 0 20px 20px 20px;
  }
}

.sidebar {
  display: flex;
  min-width: 350px;
  flex-direction: column;

  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.13);
  border-radius: 8px;
  padding: 25px;
  margin-bottom: 30px;
}

.main-container {
  display: flex;
  min-height: 100vh;
}
.main-content {
  background-color: #f9f9f9;
  padding: 22px 42px 35px;
  display: flex;
  flex-direction: column;
  margin-left: 280px;
  width: calc(100% - 280px);
}
.second-block {
  display: flex;
  flex-direction: column;
}
.shop-container {
  display: flex;
}
.shop-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 30px;
}

.header {
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.13);
  border-radius: 8px;
  height: 62px;
  padding: 0 21px;
}

.header-icons {
  display: flex;
  align-items: center;
}

.header-icons-img {
  margin-right: 22px;
}

.header-icons-img:last-of-type {
  margin-right: 0;
}

.header-action-bar {
  display: flex;
  align-items: center;
}

.header-action-bar-nick {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.header-action-bar-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #2c2c2c;
  margin-right: 29px;
}

.header-action-bar-img {
  margin-right: 22px;
}

.header-action-bar-img {
  margin-right: 28px;
}

.header-action-bar-nick {
  margin-right: 11px;
}

.header-action-bar-nick-top {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #2c2c2c;
}

.header-action-bar-nick-bottom {
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #2c2c2c;
  font-weight: 500;
}

.menu-btn {
  display: block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: black;
  margin: 100px;
  position: relative;
}

.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -10px;
  margin-top: -1px;
  height: 2px;
  width: 20px;
  background-color: chartreuse;
}

.menu-btn span::before,
.menu-btn span::after {
  content: "";
  display: block;
  transition: 0.5s;
}

.menu-btn span::before {
  transform: translateY(-5px);
}

.menu-btn span::after {
  transform: translateY(5px);
}

.menu-btn-active span {
  height: 0;
}

.menu-btn-active span::before {
  transform: rotate(45deg);
}

.menu-btn-active span::after {
  transform: rotate(45deg);
}
