body,
* {
  font-family: "Montserrat", sans-serif;
}

.brand {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #d6d6d6;
  padding-bottom: 25px;
  margin-bottom: 25px;
}

.brand:last-of-type {
  margin-bottom: 0px;
}

.brand-title {
  font-weight: 600;
  font-size: 18px;
  color: #2c2c2c;
  margin-bottom: 26px;
}

.cb-model {
  cursor: pointer;
}

.cb-line {
  display: flex;
  justify-content: space-between;
  transition: opacity 0.7s;
  cursor: pointer;
}

.cb-line:hover {
  opacity: 0.7;
}

.cb-quantity {
  font-weight: 300;
  font-size: 14px;
  color: #2c2c2c;
}

.cb-name {
  font-weight: 300;
  font-size: 16px;
  color: #2c2c2c;
  margin-left: 6px;
  cursor: pointer;
}
.cb-content {
  display: flex;
  align-items: center;
}

.checkbox-all {
  display: grid;
  grid-gap: 8px;
}

.line-top {
  height: 1px;
  background-color: #d6d6d6;
  margin-bottom: 25px;
}

.line-bottom {
  height: 1px;
  background-color: #d6d6d6;
  margin-top: 25px;
}

.search {
  display: flex;
  background: #ffffff;
  max-width: 1170px;
  width: 100%;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  margin: 0 30px;
}

.search-input {
  padding: 10px 20px;
  width: 100%;
  padding-right: 50px;
}

.search-button {
  width: 18px;
  height: 18px;
  position: absolute;
  top: calc(50% - 9px);
  right: 20px;
  background-image: url("./svg/search.svg");
  background-size: cover;
  cursor: pointer;
  transition: opacity 0.7s;
}

.search-button:hover {
  opacity: 0.7;
}

.search button {
  height: 42px;
  width: 42px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.first-line-blocks {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.similar-blocks {
  display: flex;
  width: calc(50% - 15px);
}

.congratulations {
  width: calc(50% - 15px);
  padding: 50px 0;
  margin-right: 30px;
  background-image: url(./png/decore-left.2d9d23e0.png),
    url(./png/decore-right.da0ab5cd.png),
    linear-gradient(201.26deg, #a59bff 0%, #7e72f2 100%);
  background-repeat: no-repeat;
  background-position: left top, right top;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
  border-radius: 8px;
}

.cong-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.cong-title {
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  color: #ffffff;
  margin-bottom: 15px;
}

.cong-done {
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}

.statistics {
  background-color: #fff;
  background-size: 100%;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.13);
  border-radius: 8px;
  width: calc(50% - 15px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.statistics:first-of-type {
  margin-right: 30px;
}

.statistics-img-top {
  margin: 25px 275px 0 32px;
}

.statistics-balance {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #2c2c2c;
  margin-left: 32px;
  margin-top: 21px;
}

.statistics-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 36px;
  color: #2c2c2c;
  margin-left: 32px;
}

.statistics-img-bottom {
  margin-top: 15px;
  margin-top: auto;
  width: 100%;
}

@media all and (max-width: 1450px) {
  .first-line-blocks {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  .congratulations {
    width: 100%;
  }

  .statistics {
    width: 50%;
  }

  .similar-blocks {
    margin: 30px 0;
    width: 100%;
  }

  .statistics-img-bottom {
    margin-top: auto;
    width: 100%;
  }
}

@media all and (max-width: 800px) {
  .similar-blocks {
    display: flex;
    flex-direction: column;
  }

  .statistics {
    width: 100%;
    margin-bottom: 30px;
  }

  .statistics:first-of-type {
    margin-right: 0;
  }

  .congratulations {
    width: 100%;
    background-image: linear-gradient(201.26deg, #a59bff 0%, #7e72f2 100%);
    margin-right: 0;
  }

  .cong-done {
    padding: 0 30px;
    text-align: center;
  }

  .first-line-blocks {
    margin-right: 30px;
  }

  .cong-title {
    text-align: center;
  }
  .cong-title {
    margin: 0 20px 20px 20px;
  }
}

.sidebar {
  display: flex;
  max-width: 370px;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.13);
  border-radius: 8px;
  padding: 25px;
  margin-bottom: 30px;
}
