.timeline-container {
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 18px 24px;
  max-width: calc(50% - 15px);
  width: 100%;
  margin-left: auto;
}
.timeline-container-item {
  display: flex;
  margin-bottom: 33px;
  align-items: center;
}
.timeline-container-item:last-of-type {
  margin-bottom: 0;
}
.timeline-container-info {
  display: flex;
  flex-direction: column;
}
.timeline-container-heading {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #161616;
  margin-bottom: 19px;
}
.timeline-container-main-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #606060;
  display: flex;
  margin-bottom: 1px;
}
.timeline-container-title {
  font-size: 12px;
  line-height: 14px;
  color: #606060;
  margin-bottom: 4px;
}
.timeline-container-subtitle {
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: #606060;
}
.timeline-container-icon {
  min-width: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 12px;
}
.purple {
  background: #7e72f2;
}
.orange {
  background: #ff9f43;
}
.green {
  background: #28c76f;
}
.red {
  background: #ea5455;
}
